*{
    font-family: "Ubuntu", sans-serif;
}

h1,h2,h3,h4,h5 .h1,.h2,.h3,.h4,.h5{

    font-family: "Ubuntu", sans-serif;

}

:root{
    --GrigioChiaro:rgb(158,158,158); 
    --GrigioScuro:rgb(51,51,51);
    --Bianco:rgb(250,250,250); 


}

.bg-GrigioChiaro{
    background: var(--GrigioChiaro);
}

.bg-GrigioScuro{
    background: var(--GrigioScuro);
}

.bg-Bianco{
    background: var(--Bianco);
}






.tx.GrigioChiaro{
    color: var(--GrigioChiaro);
}

.tx-GrigioScuro{
    color: var(--GrigioScuro);
}

.txBianco{
    color: var(--Bianco);
}


/* fine impostazione di base  */


/* css navbar */

.navbar-custom{
    height: 80px;
    width: 100%;
    background-color: var(--GrigioScuro);
}

.img-logo{
    width: 60px;
    height: 60px;
}

.nav-link{
    color: var(--Bianco);
}

.nav-link:hover{
    color: var(--GrigioChiaro);
}


/* css carousel */

header{
    height: 100vh;
    margin-top: 80px;
}

.titlehead{
    position: absolute;
    width: 100%; 
    height: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: end;
    color: var(--Bianco);
    
    
}
.slide1{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(250, 250, 250,0.2), rgba(51,51,51,1)), url(./media/media/immagini/carousel-bar.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
}

.slide2{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(250, 250, 250,0.2), rgba(51,51,51,1)), url(media/media/immagini/carousel-date.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
}

.slide3{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(250, 250, 250,0.2), rgba(51,51,51,1)), url(./media/media/immagini/carousel-viola.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
}


.carousel-indicators [data-bs-target]{
    background-color: var(--GrigioScuro);
    background-clip: unset;

}