*{
    font-family: "Ubuntu", sans-serif;
}

h1,h2,h3,h4,h5 .h1,.h2,.h3,.h4,.h5{

    font-family: "Ubuntu", sans-serif;

}

:root{
    --GrigioChiaro:rgb(158,158,158); 
    --GrigioScuro:rgb(51,51,51);
    --Bianco:rgb(250,250,250); 


}

.bg-GrigioChiaro{
    background: var(--GrigioChiaro);
}

.bg-GrigioScuro{
    background: var(--GrigioScuro);
}

.bg-Bianco{
    background: var(--Bianco);
}






.tx.GrigioChiaro{
    color: var(--GrigioChiaro);
}

.tx.bg-GrigioScuro{
    color: var(--GrigioScuro);
}

.txBianco{
    color: var(--Bianco);
}


/* fine impostazione di base  */


/* css navbar */

.navbar-custom{
    height: 80px;
    width: 100%;
    background-color: var(--GrigioScuro);
}

.img-logo{
    width: 60px;
    height: 60px;
}

.nav-link{
    color: var(--Bianco);
}

.nav-link:hover{
    color: var(--GrigioChiaro);
}