*{
    font-family: "Ubuntu", sans-serif;
}

h1,h2,h3,h4,h5 .h1,.h2,.h3,.h4,.h5{

    font-family: "Ubuntu", sans-serif;

}

:root{
    --GrigioChiaro:rgb(158,158,158); 
    --GrigioScuro:rgb(51,51,51);
    --Bianco:rgb(250,250,250); 


}

.bg-GrigioChiaro{
    background: var(--GrigioChiaro);
}

.bg-GrigioScuro{
    background: var(--GrigioScuro);
}

.bg-Bianco{
    background: var(--Bianco);
}






.tx.GrigioChiaro{
    color: var(--GrigioChiaro);
}

.tx-GrigioScuro{
    color: var(--GrigioScuro);
}

.tx-Bianco{
    color: var(--Bianco);
}


/* fine impostazione di base  */


/* css navbar */

.navbar-custom{
    height: 80px;
    width: 100%;
    background-color: var(--GrigioScuro);
}

.img-logo{
    width: 60px;
    height: 60px;
}

.nav-link{
    color: var(--Bianco);
}

.nav-link:hover{
    color: var(--GrigioChiaro);
}


/* css carousel */

header{
    height: 100vh;
    margin-top: 80px;
}

.titlehead{
    position: absolute;
    width: 100%; 
    height: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: end;
    color: var(--Bianco);
    
    
}
.slide1{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(250, 250, 250,0.2), rgba(51,51,51,1)), url(./media/media/immagini/carousel-bar.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
}

.slide2{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(250, 250, 250,0.2), rgba(51,51,51,1)), url(media/media/immagini/carousel-date.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
}

.slide3{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(250, 250, 250,0.2), rgba(51,51,51,1)), url(./media/media/immagini/carousel-viola.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
}


.carousel-indicators [data-bs-target]{
    background-color: var(--GrigioScuro);
    background-clip: unset;
    background: var(--Bianco);


}

main{
    background-color: var(--GrigioScuro);
}


/* css sezione card */

.card-custom{
    height: 360px;
    width: 260px;
    position: relative;
}

.img-card{
    height: 360px;
    width: 260px;
}

.card-custom::after{
    content: "";
    height: 360px;
    width: 235px;
    position: absolute;
    background: linear-gradient(rgba(271,250,0,0.2), rgba(51,51,51,0.5));
    top: auto;
    left: 0.33cm;
    opacity: 0;
    transition: 1s;
    

   
}
.card-custom:hover::after{
    opacity: 1;
    
}

/* SEZIONE VIDEO SITO ESTERNO CSS */

.sectionVideo{
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  .sectionVideo video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .sectionVideo .container {
    position: relative;
    z-index: 2;
  }
  
  .sectionVideo .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
    .sectionVideo{
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
  
    .sectionVideo video {
      display: none;
    }
  }